.modal(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
          .modal-header(ng-show='title')
            h4.modal-title(ng-bind-html='title')
          .modal-body.table-striped.table-responsive
            table.table
              thead
                tr
                  th Id BPMN
                  th Open
                  th Delete
              tbody
                tr(ng-repeat='item in listBpmnFile')
                  td {{item.name}}
                  td
                    a(ng-click='readServerFile(item.id);', href='', title='Open')
                      span.glyphicon.glyphicon-open
                  td
                    a(ng-click='deleteFile(item.id, $index);', href='', title='Delete')
                      span.glyphicon.glyphicon-remove
          .modal-footer
            button.btn.btn-default(type='button', ng-click='$hide()') Close
